<main class="container mt-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">For Free</strong>
          <h3 class="mb-2">Featured post</h3>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet. Ea quas consequatur qui aspernatur quisquam et maiores quos et quis cumque ut mollitia velit non laudantium omnis! Aut voluptate natus in libero quas ut porro</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwJuWSWFGrAW0c9yolWHjRXAqbPiuzynGUVg&usqp=CAU">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">For Sale</strong>
          <h3 class="mb-2">Post title</h3>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet. Ea quas consequatur qui aspernatur quisquam et maiores quos et quis cumque ut mollitia velit non laudantium omnis! Aut voluptate natus in libero quas ut porro</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0UcbYLFJAFeUe3qrw28uVQbQMFaOC4sk30w&usqp=CAU" >

        </div>
      </div>
    </div>
  </div>


</main>
