
  <div class="position-fixed flex-shrink-0 p-3 bg-light shadow p-3 mb-5 rounded " style="width: 250px; height: 100vh;">
    <a href="/" class="d-flex justify-content-center mt-5 mb-5">
      <img src="https://www.pngitem.com/pimgs/m/87-877725_recipes-png-transparent-png.png" width="120px" alt="">
    </a>
    <hr class="w-75 mt-5 mb-5">
    <ul class="nav flex-column mt-5 ">
      <li class="nav-item d-flex justify-content-center mb-2 w-100 " routerLink="/home">
        <button class="button-16 w-100"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; right:80%"  width="16" height="16" fill="currentColor" class="bi bi-houses-fill" viewBox="0 0 16 16">
          <path d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.51 2.51 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354L7.207 1Z"/>
          <path d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Z"/>
        </svg> Home </button>
      </li>

      <li class="d-flex justify-content-center mb-2">
        <button class="button-16 w-100"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; right:80%"  width="16" height="16" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
        </svg> Recipe </button>
      </li>

      <li class="d-flex justify-content-center mb-2 "  >
        <button class="button-16 w-100"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; right:80%"   width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
          <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        </svg>
          Profile</button>
      </li>
      <li class="d-flex justify-content-center mb-2">
        <button class="button-16 w-100"> <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; right:80%"  width="16" height="16" fill="currentColor" class="bi bi-bookmarks-fill d-flew flex-row" viewBox="0 0 16 16">
          <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
          <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
        </svg> Bookmarks</button>
      </li>
      <li class="d-flex justify-content-center mb-2">
       <button class="button-16"><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
      </svg>Purchased Recipe</button>
      </li>

      <hr class="w-75 mt-5 mb-5">


      <div class="dropdown fixed-bottom"  style="left: 15px; bottom: 10px;">
        <a href="#" class="link-dark text-decoration-none dropdown-toggle h-50" data-bs-toggle="dropdown" aria-expanded="false">


        </a><label class="ml-2">{{this.user.username}}</label>

        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#"> Create Recipe..</a></li>
          <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          <li><a class="dropdown-item" routerLink="/home">Home</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </ul>
  </div>
<div class="col">
  <app-user-dashboard-home></app-user-dashboard-home>
</div>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="sidebars.js"></script>
